.todo {
  display: flex;
  width: 600px;
  height: 74px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* background-color: #d9d9d9; */
  box-shadow: -1px 2px 62px -12px rgba(0, 0, 0, 0.22);
  -webkit-box-shadow: -1px 2px 62px -12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: -1px 2px 62px -12px rgba(0, 0, 0, 0.22);
  margin-bottom: 20px;
  border-radius: 10px;
}

.todo-left {
  display: flex;

  flex-direction: column;
  margin-left: 35px;
}

.todo-left h3,
p {
  margin: 0;
  text-align: left;
}

.todos-container-full a {
  text-decoration: none;
  color: black;
}

.checkbox {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  outline: none;
  background-color: #938f8f;
  appearance: none;
}

.checkbox:checked {
  background-color: red;
}

.checkbox:hover {
  cursor: pointer;
  background-color: #5b5959;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.filters button {
  padding: 30px;
  font-size: 2rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}

a {
  width: 30px;
}

.todo-right {
  margin-right: 35px;
}
.todo img {
  padding: 5px;
  border-radius: 40px;
}
.todo img:hover {
  background-color: #f6f4f4;
}

.date-display {
  color: rgb(180, 180, 180);
}
